body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.messages {
    /* border: 1px solid #ddd;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    background-color: #fafafa; */
    height: 300px;

    background-color: #fff;
    border: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco", sans-serif;
    font-size: 1rem;
    margin: 0 0 1.5rem;
    max-width: 600px;
    padding: 0.5rem 1.5rem;
    overflow-y: auto;
    max-height: 300px;
}

.message {
    margin-bottom: 10px;

    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
}

.message.user {
    text-align: right;
    background-color: #248bf5;
    color: #fff; 
}

.message.server {
    text-align: left;
    color: #28A745;
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
